.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a1c1c;
  color: #6ccf1e;
  padding: 10px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.get-users-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.loader {
  font-size: 20px;
  margin-top: 40px;
}
